@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.Navbar {
    font-size: 20px;
    padding-top: 20px;
}
.intro h1 {
    font-size: 50px;
    font-weight: 600;
}
.intro {
    padding-left: 150px;
    padding-top: 130px;
    color: white;
}
.Jumbotron {
    background-image: url(../img/ice.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}
.nav-item a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-item a:hover::after {
    width: 100%;
}
.layer {
    backdrop-filter: brightness(60%);
    height: 600px;
}
.one {
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
    align-items: center;
    margin: 80px 120px;
}
.one img {
    width: 336px;
    height: 440px;
    filter: drop-shadow(0px 4px 20px rgba(255, 255, 255, 0.25));
    border-radius: 6px;
}
.desc {
    color: white;
} 
.desc h2 {
    font-weight: 600;
}
.two {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    padding-top: 30px;
    align-items: center;
    margin-top: 70px;
    margin: 80px 120px;
}
.desc2 {
    text-align: right;
    color: white;
}
.desc2 h2 {
    font-weight: 600;
}
.two img {
    width: 336px;
    height: 440px;
    filter: drop-shadow(0px 4px 20px rgba(255, 255, 255, 0.25));
    border-radius: 6px;   
}
.quote {
    text-align: center;
    color: white;
    margin-top: 90px;
}
.footer {
    color: white;
    text-align: left;
    margin-left: 70px;
}
.row4 {
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding-top: 40px;
    padding-left: 70px;
}
.menu a {
    color: white;
    text-decoration: none;
    padding-top: 10px;
    display: block;
}
.col h4 {
    font-weight: 600;
}
.col p {
    padding-top: 10px;
}
.footer h6 {
    text-align: center;
    color: white;
    margin-top: 90px;
}
.menu a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.menu a:hover::after {
    width: 100%;
}
.menu a {
    width: 20%;
}
@media screen and (max-width: 576px) {
    .Jumbotron {
        background-size: 435px 675px;
        width: 490px;
        height: 600px;
    }
    .intro h1 {
        font-size: 30px;
    }
    .intro p {
        font-size: 12px;
        word-break: break-all;
    }
    .intro {
        padding-left: 50px;
        padding-top: 70px;
    }
    .one {
        display: block;
        margin-left: 20px;
    }
    .desc {
        padding-top: 20px;
    }
    .desc p {
        font-size: 11px;
        word-break: break-all;
    }
    .two {
        display: block;
        flex-direction: row-reverse;
        margin-left: 20px;
    }
    .desc2 {
        text-align: left;
        padding-top: 20px;
    }
    .desc2 p {
        font-size: 11px;
        word-break: break-all;
    }
    .Navbar a {
        width: 20%;
    }
    .row4 {
        display: block;
        padding-left: 5px;
    }
    .col {
        padding-top: 20px;
    }
}