@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.Navbar {
    font-size: 20px;
    padding-top: 20px;
}
.nav-item a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-item a:hover::after {
    width: 100%;
}
.intro h1 {
    font-size: 60px;
    font-weight: 600;
}
.intro p {
    font-size: 20px;
}
.intro {
    display: block;
    align-items: center;
    padding: 180px 150px;
    color: white;
}
section {
    aspect-ratio: 4/2;
    background-attachment: fixed;
    object-fit: contain;
}
.layer {
    backdrop-filter: brightness(60%);
    aspect-ratio: 4/2;
}
section:nth-child(1) {
    background-image: url(../img/37130.jpg);
    background-repeat: no-repeat;
    background-size: 100vw;
}
section:nth-child(2) {
    background-image: url(../img/threat2.jpg);
    background-repeat: no-repeat;
    background-size: 100vw;
}
section:nth-child(3) {
    background-image: url(../img/disturb.jpg);
    background-repeat: no-repeat;
    background-size: 100vw;
}
section:nth-child(4) {
    background-image: url(../img/challenge2.jpg);
    background-repeat: no-repeat;
    background-size: 100vw;
}
section:nth-child(5) {
    background-image: url(../img/opportunity2.jpg);
    background-repeat: no-repeat;
    background-size: 100vw;
}
.footer {
    color: white;
    text-align: left;
    margin-left: 70px;
}
.row4 {
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding-top: 40px;
    padding-left: 70px;
}
.menu a {
    color: white;
    text-decoration: none;
    padding-top: 10px;
    display: block;
}
.col h4 {
    font-weight: 600;
}
.col p {
    padding-top: 10px;
}
.footer h6 {
    text-align: center;
    color: white;
    margin-top: 90px;
}
.menu a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.menu a:hover::after {
    width: 100%;
}
.menu a {
    width: 20%;
}
@media screen and (max-width: 576px) {
    section:nth-child(1) {
        background-size: 565px 765px;
    }
    section:nth-child(2) {
        background-size: 565px 765px;
    }
    section:nth-child(3) {
        background-size: 565px 765px;
    }
    section:nth-child(4) {
        background-size: 565px 765px;
    }
    section:nth-child(5) {
        background-size: 565px 765px;
    }
    .intro h1 {
        font-size: 24px;
    }
    .intro p {
        font-size: 11px;
        word-break: break-all;
    }
    .intro {
        padding-left: 40px;
    }
    .Navbar a {
        width: 20%;
    }
}