@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
* {
    margin: 0;
    padding: 0;
}
.Navbar {
    font-size: 20px;
    padding-top: 20px;
}
.nav-item a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-item a:hover::after {
    width: 100%;
}
.intro h1 {
    font-size: 60px;
    font-weight: 600;
}
.intro {
    padding-left: 150px;
    padding-top: 130px;
    color: white;
}
.Jumbotron {
    background-image: url(../img/37130.jpg);
    background-repeat: no-repeat;
    background-size: 1365px 675px;
    width: 1349px;
    height: 600px;
}
.layer {
    backdrop-filter: brightness(60%);
    height: 600px;
}
.about {
    color: white;
    font-family: 'Philosopher', sans-serif;
    margin-top: 40px;
}
.about h2 {
    font-weight: 700;
    text-align: center;
}
.row1 img {
    width: 277px;
    height: 277px;
    border-radius: 22px;
    margin-left: 35px;
}
.row1 {
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    margin-top: 60px;
    margin-bottom: 40px;
}
.text h3 {
    font-weight: 700;
}
.category {
    color: white;
    font-family: 'Philosopher', sans-serif;
    margin-top: 70px;
}
.category h3 {
    text-align: center;
    font-weight: 700;
}
.layer1 {
    backdrop-filter: brightness(50%);
    height: 210px;
}
.threat {
    width: 424px;
    height: 209px;
    background-image: url(../img/threat.jpg);
    background-repeat: no-repeat;
    background-size: 424px 209px;
    border-radius: 4px;
} 

.dist {
    width: 424px;
    height: 209px;
    background-image: url(../img/disturbance.jpg);
    background-repeat: no-repeat;
    background-size: 424px 209px;
    border-radius: 4px;
}
.opp {
    width: 424px;
    height: 209px;
    background-image: url(../img/opportunity.jpg);
    background-repeat: no-repeat;
    background-size: 424px 209px;
    border-radius: 4px;
}
.chal {
    width: 424px;
    height: 209px;
    background-image: url(../img/challenge.jpg);
    background-repeat: no-repeat;
    background-size: 424px 209px;
    border-radius: 4px;
}
.row2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 35px;
}
.row3 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 45px;
}
.opp a {
    text-align: right;
    text-decoration: none;
    color: white;
}
.chal a {
    text-align: right;
    text-decoration: none;
    color: white;
}
.threat a {
    text-align: right;
    text-decoration: none;
    color: white;
}
.dist a {
    text-align: right;
    text-decoration: none;
    color: white;
}
.footer {
    color: white;
    text-align: left;
    margin-left: 70px;
}
.row4 {
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding-top: 40px;
    padding-left: 70px;
}
.menu a {
    color: white;
    text-decoration: none;
    padding-top: 10px;
    display: block;
}
.col h4 {
    font-weight: 600;
}
.col p {
    padding-top: 10px;
}
.footer h6 {
    text-align: center;
    color: white;
    margin-top: 90px;
}
.menu a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.menu a:hover::after {
    width: 100%;
}
.menu a {
    width: 20%;
}
@media screen and (max-width: 576px) {
    .Jumbotron {
        background-size: 483px 675px;
        width: 483px;
    }
    .intro h1 {
        font-size: 30px;
    }
    .intro p {
        font-size: 14px;
    }
    .intro {
        padding-left: 80px;
    }
    .row1 {
        display: block;
    }
    .text {
        text-align: center;
        padding-top: 20px;
    }
    .row2 {
        display: block;
        padding-left: 25px;
    }
    .row3 {
        display: block;
        padding-left: 25px;
    }
}