@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
* {
    margin: 0;
    padding: 0;
}
.Navbar {
    font-size: 20px;
    padding-top: 20px;
}
.intro h1 {
    font-size: 60px;
    font-weight: 600;
}
.intro {
    padding-left: 150px;
    padding-top: 130px;
    color: white;
}
.Jumbotron {
    background-image: url(../img/37130.jpg);
    background-repeat: no-repeat;
    background-size: 1365px 575px;
    width: 1365px;
    height: 575px;
    backdrop-filter: brightness(50%);
}
